<h1>About me</h1>
<br>
<p>I am an aspiring Ruby on Rails full stack developer, I touched my first piece of code in March 2020, and I fell in love with it right away.
  My goal is to create beautiful and functional products that clients and users love.</p>
<p>I believe that being open is the best way to do business, that is why I communicate with my clients through every step of the process to ensure I produce what they want, not what I think they want.</p>
