<div class="inner cover">
  <h1 class="cover-heading">Welcome.</h1>
  <br>
  <p class="lead">If you want something done the way you want it done, not the way someone else thinks you want it done, look no further. I will be with you every step of the way as we bring your vision to life.</p>
  <p class="lead">
    <%= link_to "About Me", about_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>







